@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/i7dPIFZifjKcF5UAWdDRYEF8QA.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/i7dMIFZifjKcF5UAWdDRaPpZUFWaGw.ttf) format('truetype');
}
